@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-primary: rgb(110 125 251);
    --color-accent: rgb(126 210 188);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: black;
    font-family: "outfit", Helvetica, sans-serif;
}
